#sidebar-wrapper{
    z-index:1;
    position: fixed;
    width: 155px;
    height: 100%;
    top:70;
    overflow-y: hidden;
    background: #fff;
    /*background: #073642;*/
    -webkit-box-shadow: 1px 0px 1px 0px rgba(203,209,202,1);
-moz-box-shadow: 1px 0px 1px 0px rgba(203,209,202,1);
box-shadow: 1px 0px 1px 0px rgba(203,209,202,1);


}
.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 100;
    webkit-box-shadow: 1px 0px 1px 0px rgba(203,209,202,1);
    -moz-box-shadow: 1px 0px 1px 0px rgba(203,209,202,1);
    box-shadow: 1px 0px 1px 0px rgba(203,209,202,1);
}
.img-height{
    height: 50px;
}
.image{

    padding: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%; /*don't forget prefixes*/
    background-image: url("../images/user_profile.png");
    background-position: center center;
    /* as mentioned by Vad: */
    background-size: cover;
}

#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;

}


#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 195px;
    margin-top: 70px;
}
 @media screen and (max-width: 768px) and (min-width: 320px){
        #wrapper.menuDisplayed #page-content-wrapper{
            padding-left: 0px;
            margin-top: 50px;
        }
        .img-height{
            height: 30px;
        }
        a#menu-toggle {
            margin-top: 3px;
        }
    }

.sidebar-nav{
    padding: 0;
    list-style: none;

}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;

}


.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: black;

}


.sidebar-nav li a:hover{
    /*background: #16A085;*/
}


/*#ex1Slider .slider-selection {*/
    /*background: #BABABA;*/
/*}*/